---
layout: card-list
title: Events
enable-header: true
enable-banner: true
---
{% assign items = site.events | sort: 'date' | reverse %}
{% for event in items %}
{% capture event_url %}{{ event.url | prepend: site.baseurl }}{% endcapture %}
{% capture event_content %}{{ event.content | truncate: 140 }}{% endcapture %}
{% capture event_image_url %}{{ event.img-url | prepend: site.baseurl }}{% endcapture %}
{% capture event_image_alt %}{{ event.image_alt }}{% endcapture %}
{% capture event_title %}{{ event.title }}{% endcapture %}
	{% include card-tailwindcss.html content=event_content url=event_url title=event_title image_alt=event_image_alt image_url=event_image_url %}
{% endfor %}
