---
layout: card-list
title: Programs
enable-header: true
header-image: /assets/img/programs-header.jpg
#header-button: button text
header-text: Programs
header-subtext: See what we've been up to!
header-color: rgb(200, 200, 200, 0.7);
---
        {% assign items = site.programs %}
        {% for program in items %}
        {% capture program_url %}{{ program.url | prepend: site.baseurl }}{% endcapture %}
        {% capture program_content %}{{ program.content | truncate: 140 }}{% endcapture %}
        {% capture program_image_url %}{{ program.image | prepend: site.baseurl }}{% endcapture %}
        {% capture program_image_alt %}{{ program.image_alt }}{% endcapture %}
        {% capture program_title %}{{ program.title }}{% endcapture %}
            {% include card-tailwindcss.html content=program_content url=program_url title=program_title image_alt=program_image_alt image_url=program_image_url %}
        {% endfor %}