---
layout: card-list
title: Programs
enable-header: true
enable-banner: true
---
        {% assign items = site.programs %}
        {% for program in items %}
        {% capture program_url %}{{ program.url | prepend: site.baseurl }}{% endcapture %}
        {% capture program_content %}{{ program.content | truncate: 140 }}{% endcapture %}
        {% capture program_title %}{{ program.title }}{% endcapture %}
            {% include card-tailwindcss.html content=program_content url=program_url title=program_title %}
        {% endfor %}